# Do not share your OpenAI API key with anyone! It should remain a secret.
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
# Optional.
# OPENAI_API_ENDPOINT=YOUR_OPENAI_API_ENDPOINT
# USAGE_DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=sqlchat_usage
# NEXT_PUBLIC_API_KEY=YOUR_API_KEY
# GITHUB_ID=
# GITHUB_SECRET=
